
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sign in example for IOLAB">
    <meta name="author" content="Ramit Malhotra">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin example</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!--Font-Awesome CSS-->
    <link href="../static/dist/css/font-awesome.css" rel="stylesheet">
    
    <!--Bootstrap Social CSS-->
    <link href="../static/dist/css/docs.css" rel="stylesheet">
    <link href="../static/dist/css/bootstrap-social.css" rel="stylesheet">


    <!-- Custom styles for this -->
    <link href="../static/dist/css/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <div class="form-group">
      	<div class="btn-group btn-group-justified form-control-static">
        	<a class="btn btn-link btn-xs ellipsis" href="#">Forgot password?</a>
	        <a class="btn btn-link btn-xs ellipsis" href="signup">Create new account</a>
    	</div>
	  </div>
	</form>       
	<div class="form-signin">   
		<legend class="text-muted text-center">or</legend>
    	    <div class="text-center">
        	    <a class="btn btn-block btn-social btn-google-plus" href="google" title="Sign in with Google" rel="nofollow">
    				<i class="fa fa-google-plus"></i>Sign in with Google
	    		</a>
	    		<a class="btn btn-block btn-social btn-facebook" title="Sign in with Facebook" rel="nofollow">
            		<i class="fa fa-facebook"></i> Sign in with Facebook
	            </a>
    		</div>
    </div>		
    </div> 
    <!-- /container -->

  </body>
</html>
