/* content */

body {
	background-color: #1B1521;
}
#container {
	margin: 40px auto;
	overflow: hidden;
	width: 800px;
}
#header {
	background-color: #D41E45;
	padding: 20px 30px;
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 10px;
}
h1 {
	margin: 0px;
}
.column {
	float: left;
	width: 360px;
	height: 300px;
	padding: 20px;
}
#column-list {
	background-color: #B5AC01;
	border-radius: 20px 0px 0px 20px;
}
#column-form {
	background-color: #ECBA09;
	border-radius: 0px 20px 20px 0px;
}
#column-form #todo-form-add {
	width: 300px;
	margin: 5px 0px;
	box-shadow: 2px 2px 3px #660;
}
